.form__wrapper{
    border:1px solid grey;
    width:300px;
    padding:20px;
    height:93vh;
    margin-left:10px;
}

.form__item{
    padding:10px;
    position:relative;
}

.input__title{
    font-size:14px;
}

.form__input{
    position:absolute;
    right:0px;
    width:100px;
    outline-color: green;
}

.btn__start{
    width:100px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.form__span{
    font-size:14px;
}

.absolute{
    position:absolute;
    right:10px;
}

.bg-green{
    background-color: #adebad;
}